/*stile default*/
body {
  background-color: white;
  /*font-family: "Times New Roman";*/
  font-weight: 200;
  color: #000000;
}
/*definisce div principali*/
/*uguale in tutte le pagine*/
/*
.sx {
  padding-top: 230px;
  float: left;
  width: 20%;
  height: 100%;
}
.dx {
  padding-top: 200px;
  float: left;
  width: 20%;
  height: 100%;
}
/*cambia in base a pagina*/
/*.centroindex{
  float:left;
  width:60%;
  height:200px;
}
.centrotxt {
  padding-top:  170px;
  float:left;
  width:60%;
}
.centrotxt2 {
  padding-top:  250px;
  float:left;
  width:60%;
}
.centroabout {
  padding-top: 200px;
  float:left;
  width:60%;
}
.foto{
  padding-top: 50px;
}
.lavori {
  float:left;
  width:60%;
  height:700px;
  margin-top: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: scroll;
}
.testi{
  margin-top: 50px;
}*/
/*immagini home*/
#home:hover {
  opacity: 40%;
}

.image-stack {
  position: relative;
  height: 200px;
}

#img1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* on top */
}

#img1:hover {
  opacity: 0;
}

#img2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* underneath */
}

/*nome home page*/
#nome {
  height: 100px;
}
/*immagine sfondo a sx*/
/*definisce lo stile del menu a pulsanti*/
#paginacorrente {
  text-decoration: line-through;
  color: #0000EE;
  font-weight: lighter;
}
#mionome {
  font-weight: lighter;
  }
.bottone {
  text-decoration: none;
  color: #000000;
}
.bottone:hover{
  text-decoration: line-through;
}
/*pulsante per il dark mode*/
#pulsantedarkmode {
  margin-top: 200px;
  background-color: #fff;
  border: none;
  font-family: "Helvetica Neue";
  font-weight: lighter;
}
#pulsantedarkmode:hover{
    text-decoration: line-through;
}
/*p (more to come)
#moretocome {
  color: #a2a2a2;
  font-weight: lighter;
}*/

#testi {
font-weight: 300;
}

/*ottimizzazione*/

/*VISUALIZZAZIONE DA LAPTOP*/
@media (max-width: 1500px) {
  .sx {
    padding-left: 10px;
    padding-top: 0px;
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  .dx {
    padding-top: 0px;
    float: left;
    width: 20%;
    height: 100%;
  }
  /*cambia in base a pagina*/
  .centroindex{
    float:left;
    margin-left: 300px;
    width:100%;
    height:0px;
}
  .centroindex {
  display: flex;
  flex-direction: row;
  gap: 270px;
  align-items: flex-start;
}

  .centrotxt {
    padding-top:  0px;
    margin-left: 400px;
    float:left;
    width:60%;
  }
  .centrotxt2 {
    padding-top:  0px;
    margin-left: 400px;
    float:left;
    width:60%;
  }
  .centroabout {
    padding-top: 0px;
    margin-left: 200px;
    float:left;
    width:60%;
  }
  .fotouno{
    float:left;
    width:100%;
    height:510px;
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    display: inline-block;
  }
  .fotopiù{
    float:left;
    width:100%;
    height:510px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    display: inline-block;
  }
  .lavori {
    float:left;
    width:60%;
    margin-left: 400px;
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: scroll;
  }
  .testi{
    margin-top: 50px;
    margin-left: 0px;
  }
  .testisezioni{
    padding-top: 50px;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom:20px;
  }

}
#warning {
color: #0000EE;
}

#frecciagiù {
margin-top: 300px;
margin-right: 10px;
writing-mode: vertical-rl;
text-orientation: mixed;
float:right;
}

#sfondo {
  padding-top: 100px;
  height: 500px;
  margin-left:-100px;
}

#did {
  margin-left:100px;
}

/*VISUALIZZAZIONE DA TABLET*/
@media (max-width: 980px) {
  .sx {
    padding-left: 50px;
    padding-top: 50px;
    float: left;
    width: 20%;
    height: 80%;
    position: absolute;
    z-index:0;
  }
  .dx {
    padding-top: 200px;
    float: left;
    width: 20%;
    height: 100%;
  }
  /*cambia in base a pagina*/
  .centroindex{
    float:left;
    margin-left: 400px;
    width:60%;
    height:80px;
  }
  /*pagina work*/
  .centrotxt {
    padding-top:  170px;
    margin-left: 300px;
    float:left;
    width:60%;
  }
  .centrotxt2 {
    padding-top:  250px;
    margin-left: 400px;
    float:left;
    width:60%;
  }
  .centroabout {
    padding-top: 200px;
    margin-left: 300px;
    float:left;
    width:60%;
  }
  .fotouno{
    float:left;
    width:100%;
    height:510px;
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    display: inline-block;
  }
  .fotopiù{
    float:left;
    width:100%;
    height:510px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    display: inline-block;
  }
  .lavori {
    float:left;
    width:60%;
    margin-left: 280px;
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: scroll;
  }
  .testi{
    margin-top: 50px;
    margin-left: 0px;
  }
  .testisezioni{
    padding-top: 50px;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom:20px;
  }

}
#warning {
color: #0000EE;
}


/*VISUALIZZAZIONE DA MOBILE ORIZZONTALE*/
@media (max-width: 767px) {
  .sx {
    padding-left: 50px;
    padding-top: 50px;
    float: left;
    width: 20%;
    height: 90%;
    position: fixed;
    z-index: 0;
  }
  .dx {
    padding-top: 200px;
    float: left;
    width: 20%;
    height: 100%;
  }
  /*cambia in base a pagina*/
    .centroindex {
    flex-direction: column;
    margin-left: 200px;
    width: 70%;
  }
    
  .centrotxt {
    padding-top:  100px;
    margin-left: 300px;
    float:left;
    width:60%;
  }
  .centrotxt2 {
    padding-top:  250px;
    margin-left: 400px;
    float:left;
    width:60%;
  }
  .centroabout {
    padding-top: 80px;
    margin-left: 200px;
    float:left;
    width:60%;
  }
  .fotouno{
    float:left;
    width:100%;
    height:510px;
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    display: inline-block;
  }
  .fotopiù{
    float:left;
    width:100%;
    height:510px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    display: inline-block;
  }
  .lavori {
    float:left;
    width:60%;
    margin-left: 240px;
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: scroll;
  }
  .testi{
    margin-top: 50px;
    margin-left: 0px;
  }
  .testisezioni{
    padding-top: 50px;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom:20px;
  }

}
#warning {
color: #0000EE;
}
#sfondo {
  padding-top: 0px;
  height: 400px;
}

/*VISUALIZZAZIONE DA MOBILE VERTICALE*/
@media (max-width: 480px) {
  .sx {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    width: 90%;
    height: 30%;
    position: absolute;
    z-index: 0;
  }
  .dx {
    padding-top: 200px;
    float: left;
    width: 20%;
    height: 0%;
    display: none;
  }
  /*cambia in base a pagina*/
  .centroindex{
    float:none;
    margin-left: 70px;
    width:70%;
    z-index:0;
  }
  .centrotxt {
    padding-top:  250px;
    margin-left: 20px;
    float:none;
    width:90%;
  }
  .centrotxt2 {
    padding-top:  50px;
    margin-left: 20px;
    float:left;
    width:100%;
  }
  .centroabout {
    padding-top: 250px;
    margin-left: 0px;
    float:none;
    width:70%;
  }
  .fotouno{
    float:left;
    width:100%;
    height:510px;
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    display: inline-block;
  }
  .fotopiù{
    float:left;
    width:100%;
    height:510px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    display: inline-block;
  }
  .lavori {
    float:none;
    width:90%;
    margin-left: 20px;
    padding-top: 250px;
    margin-top: 0px;
    padding-bottom: 0px;
    overflow: scroll;
  }
  .testi{
    margin-top: 50px;
    margin-left: 0px;
  }
  .testisezioni{
    padding-top: 50px;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom:20px;
  }

  }
  #warning {
  color: #0000EE;
  }

  #frecciagiù {
  margin-top: -50px;
  margin-right: -5px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  float:right;
  }


  #sfondo {
    padding-top: 100px;
    height: 500px;
  }


}

}
