/*stile default*/
body {
  background-color: white;
  font-family: "Helvetica Neue";
  font-weight: lighter;
  color: #005ABF;
}
/*definisce div principali*/
/*uguale in tutte le pagine*/
.sx {
  padding-top: 230px;
  float: left;
  width: 20%;
  height: 100%;
}
.dx {
  padding-top: 200px;
  float: left;
  width: 20%;
  height: 100%;
}
/*cambia in base a pagina*/
.centro{
  float:left;
  width:60%;
  height:200px;
}
.centrotxt {
  padding-top:  170px;
  float:left;
  width:60%;
}
.centrotxt2 {
  padding-top:  250px;
  float:left;
  width:60%;
}
.centroabout {
  padding-top: 200px;
  float:left;
  width:60%;
}
.foto{
  padding-top: 50px;
}
.lavori {
  float:left;
  width:60%;
  height:700px;
  margin-top: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: scroll;
}
.testi{
  margin-top: 50px;
}
/*immagini home*/
#home1 {
  position: absolute;
  right: 600px;
  left: 600px;
  z-index: 3;
}
#home1:hover {
  opacity: 0%;
}
#home2 {
  position: absolute;
  right: 600px;
  left: 600px;
  z-index: 1;
}
/*nome home page*/
#nome {
/*  margin-top: 100px;*/
}
/*immagine sfondo a sx*/
#sfondo {
  padding-top: 100px;s
  height: 500px;
}
/*definisce lo stile del menu a pulsanti*/
#paginacorrente {
  text-decoration: line-through;
  color: #005ABF;
  font-weight: lighter;
}
.bottone {
  text-decoration: none;
  color: #005ABF;
}
.bottone:hover{
  text-decoration: line-through;
}
/*pulsante per il dark mode*/
#pulsantedarkmode {
  margin-top: 200px;
  background-color: #fff;
  border: none;
  font-family: "Helvetica Neue";
  font-weight: lighter;
}
#pulsantedarkmode:hover{
    text-decoration: line-through;
}
/*p (more to come)*/
#moretocome {
  color: #a2a2a2;
  font-weight: lighter;
}

#testi {
font-weight: 300;
}
