/*stile default*/
body {
  background-color: white;
  font-family: "Helvetica Neue";
  font-weight: 200;
  color: #0D4787;
}
/*definisce div principali*/
/*uguale in tutte le pagine*/
/*
.sx {
  padding-top: 230px;
  float: left;
  width: 20%;
  height: 100%;
}
.dx {
  padding-top: 200px;
  float: left;
  width: 20%;
  height: 100%;
}
/*cambia in base a pagina*/
/*.centroindex{
  float:left;
  width:60%;
  height:200px;
}
.centrotxt {
  padding-top:  170px;
  float:left;
  width:60%;
}
.centrotxt2 {
  padding-top:  250px;
  float:left;
  width:60%;
}
.centroabout {
  padding-top: 200px;
  float:left;
  width:60%;
}
.foto{
  padding-top: 50px;
}
.lavori {
  float:left;
  width:60%;
  height:700px;
  margin-top: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: scroll;
}
.testi{
  margin-top: 50px;
}*/
/*immagini home*/
#home1 {
  position: absolute;
  right: 600px;
  left: 600px;
  z-index: 3;
}
#home1:hover {
  opacity: 0%;
}
#home2 {
  position: absolute;
  right: 600px;
  left: 600px;
  z-index: 1;
}
/*nome home page*/
#nome {
  height: 150px;
}
/*immagine sfondo a sx*/
#sfondo {
  padding-top: 100px;
  height: 500px;
}
/*definisce lo stile del menu a pulsanti*/
#paginacorrente {
  text-decoration: line-through;
  color: #0D4787;
  font-weight: lighter;
}
.bottone {
  text-decoration: none;
  color: #0D4787;
}
.bottone:hover{
  text-decoration: line-through;
}
/*pulsante per il dark mode*/
#pulsantedarkmode {
  margin-top: 200px;
  background-color: #fff;
  border: none;
  font-family: "Helvetica Neue";
  font-weight: lighter;
}
#pulsantedarkmode:hover{
    text-decoration: line-through;
}
/*p (more to come)
#moretocome {
  color: #a2a2a2;
  font-weight: lighter;
}*/

#testi {
font-weight: 300;
}

/*ottimizzazione*/

/*VISUALIZZAZIONE DA LAPTOP*/
@media (max-width: 1200px) {
  .sx {
    padding-top: 230px;
    float: left;
    width: 20%;
    height: 100%;
  }
  .dx {
    padding-top: 200px;
    float: left;
    width: 20%;
    height: 100%;
  }
  /*cambia in base a pagina*/
  .centroindex{
    float:left;
    width:60%;
    height:200px;
  }
  .centrotxt {
    padding-top:  170px;
    float:left;
    width:60%;
  }
  .centrotxt2 {
    padding-top:  250px;
    float:left;
    width:60%;
  }
  .centroabout {
    padding-top: 200px;
    float:left;
    width:60%;
  }
  .foto{
    padding-top: 50px;
  }
  .lavori {
    float:left;
    width:60%;
    height:700px;
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: scroll;
  }
  .testi{
    margin-top: 50px;
  }

}


/*VISUALIZZAZIONE DA TABLET*/
@media (max-width: 980px) {
  .sx {
    padding-top: 400px;
    float: left;
    width: 20%;
    height: 100%;
  }
  .dx {
    padding-top: 370px;
    float: left;
    width: 20%;
    height: 100%;
  }
  /*cambia in base a pagina*/
  .centroindex{
    padding-top: 200px;
    float:left;
    width:60%;
    height:100%;
  }
  .centrotxt {
    padding-top:  170px;
    float:left;
    width:60%;
  }
  .centrotxt2 {
    padding-top:  250px;
    float:left;
    width:60%;
  }
  .centroabout {
    padding-top: 380px;
    float:left;
    width:60%;
  }
  .foto{
    padding-top: 50px;
  }
  .lavori {
    float:left;
    width:60%;
    height:700px;
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: scroll;
  }
  .testi{
    margin-top: 50px;
  }

}



/*VISUALIZZAZIONE DA MOBILE ORIZZONTALE*/
@media (max-width: 812px) {
  .sx {
    padding-top: 100px;
    float: left;
    width: 20%;
    height: 100%;
  }
  .dx {
    padding-top: 50px;
    float: left;
    width: 20%;
    height: 100%;
  }
  .centroindex{
    padding-top: 50px;
    float:left;
    width:60%;
    height:100%;
  }
  #sfondo {
    padding-top: 0px;
    height: 300px;
  }
  #nome {
  height: 120px;
  }
/**/
.centroabout {
  padding-top: 50px;
  float:left;
  width:60%;
}
}


/*VISUALIZZAZIONE DA MOBILE VERTICALE*/
@media (max-width: 480px) {
  .sx {
    padding-top: 80px;
    float: left;
    width: 60%;
    height: 100%;
  }
  .dx {
    padding-top: 20px;
    position:absolute;
    top:0;
    right:0;
    width: 40%;
    height: 100%;
  }
  .centroindex{
    padding-top: 50px;
    float:left;
    width:100%;
    height:100%;
  }
  #sfondo {
    padding-top: 0px;
    height: 300px;
  }
  #nome {
  height: 120px;
  }

  .centroabout {
    padding-top: 100px;
    float:left;
    width:100%;
    height:100%;
  }

}
